#summaries
  %h1 Archived posts
  .prow_narrow
    .left
      %h2 Posts by topic
      %ul.posts
        - get_tag_items.each do |t|
          %li<
            %a{ :href => t.identifier, :title => "posts tagged #{t[:tag_name]}" }><
              = t[:tag_name]
            %span.tag_count><
              = "(" + t[:tag_count] + ")"
    .right
      %h2 Posts by month
      - get_archive_items.each do |k|
        %h3.archive_year= k[:year]
        %ul.posts
          - k[:items].each do |a|
            %li<
              %a{ :href => a.identifier }><
                = a[:month]


