.row
  .column.grid_4
    %h2
      Posts by topic
    %ul.posts
      - get_tag_items.sort {|a, b| a[:tag_name] <=> b[:tag_name] }.each do |t|
        %li
          %a{ :href => t.identifier, :title => "posts tagged #{t[:tag_name]}" }
            = t[:tag_name]
          = "(" + t[:tag_count] + ")"
  .column.grid_4
    %h2
      Posts by Month
      - get_archive_items.each do |k|
        %h3.archive_year
          = k[:year]
        %ul.posts
          - k[:items].each do |a|
            %li
              %a{ :href => a.identifier }
                = a[:month]
              = "(#{a[:post_count]})"

