!!! XML
!!!
%html
  %head
    %title
      = "User Primary - " + @item[:title]
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style/style.css", :media => "screen"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style/grid.css", :media => "screen"}
  %body
    .row.header_row
      .column.grid_4
        #header_logo
          %p
            %strong
              {
            User Primary
            %strong
              }
      .column.grid_5
        #navlist
          %ul
            %li
              = nav_link_to_unless_current("Home", "/")
            %li
              = nav_link_to_unless_current("Archives", "/archives/")
            %li
              = nav_link_to_unless_current("Software", "/software/")
            %li
              = nav_link_to_unless_current("Links", "/links/")
    .row.main_row
      .column.grid_8
        #main
          = yield
