!!! XML
!!!
%html
  %head
    %title
      = "User Primary - " + @item[:title]
    = stylesheet("style.css")
    = stylesheet("grid.css")
    = javascript("jquery.js")
    = javascript("jquery.timeago.js")
    = javascript("jquery.corner.js")
    = javascript("userp.js")
    = feed_link
    = site_meta_tags
    = openid
  %body
    #header_row.row
      .column.grid_4
        #header_logo
          %p
            %strong
              {
            User Primary
            %strong
              }
      .column.grid_5
        #navlist
          %ul
            %li
              = nav_link_to_unless_current("Home", "/")
            %li
              = nav_link_to_unless_current("Archives", "/archives/")
            %li
              = nav_link_to_unless_current("Software", "/software/")
            %li
              = nav_link_to_unless_current("Links", "/links/")
    #main_row.row
      .column.grid_8
        #main
          - if @item[:kind] == "article"
            %h2
              = @item[:title]
          = yield
          - if @item[:kind] == "article"
            #post_details
              %p
                archived on
                = Time.parse(@item[:created_at]).strftime("%Y-%m-%d")
                in
                = tags_for(@item, :base_url => "/tags/")
    #footer_row.row
      .column.grid_8
        .row
          .column.grid_5
            %h2
              Coordinates
        .row
          .column.grid_2
            #coord_img
              %img{ :src => "/images/seth-hood2.jpg", :height => "150px" }
          .column.grid_3
            #coord_list
              %ul
                %li
                  < seth @ userprimary . net >
                %li
                  = twitter_badge
                %li
                  = linked_in_badge
                %li
                  I'm
                  %a{ :href => "http://github.com/seth" }
                    seth on github

