!!! XML
!!!
%html
  %head
    %title
      = "User Primary - " + @item[:title]
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style/style.css", :media => "screen"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style/grid.css", :media => "screen"}
  %body
    .row
      .column.grid_4
        #header_logo
          %p
            User Primary
      .column.grid_4 
        #navlist
          %ul
            %li
              = nav_link_to_unless_current("Home", "/")
            %li
              = nav_link_to_unless_current("Archives", "/posts/")
            %li
              = nav_link_to_unless_current("Software", "/software/")
            %li
              = nav_link_to_unless_current("Links", "/links/")
    .row
      .column.grid_8
        = yield
