#footer
  #coord1
    %h2<
      Coordinates
    #coord_img<
      %img{ :src => "/images/seth_falcon_side_s.jpg", :height => "150px" }
  #coord_list
    = render('/coords/')
  #feed_me
    %p
      Want to know when I post something new?
      Subscribe to the
      %a{ :href => "/feed.atom" }<
        RSS feed
      or follow
      %a{ :href => "http://www.twitter.com/sfalcon" }<
        me on Twitter
      = "."
  #copyright<
    = "Copyright 2006 - #{Time.now.year} Seth Falcon, all rights reserved."
= ga_tracking
