!!!
%html
  = render('/sitehead')
  %body
    = render('/header/')
    #main
      #post
        %h1
          = @item[:title]
        = yield
        #post_details
          %p
            archived on
            = Time.parse(@item[:created_at]).strftime("%Y-%m-%d")
            in
            = tags_for(@item, :base_url => "/tags/")
          = disqus_embed

    = render('/footer/')
