%head
  = site_meta_tags
  = feed_link
  = openid
  %title
    = "User Primary - " + @item[:title]
  = stylesheet("style.css")
  = javascript("jquery.js")
  = javascript("jquery.timeago.js")
  = javascript("jquery.corner.js")
  = javascript("userp.js")
